
body { margin:0; padding:0; font-size:11px; line-height:16px; font-family: Arial, Tahoma;}

#container {width: 800px}

#main { padding:20px 20px 20px 20px; }


.gradient {
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradient_rev {
background: rgb(40,52,59); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(40,52,59,1) 0%, rgba(130,140,149,1) 64%, rgba(181,189,200,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(40,52,59,1) 0%,rgba(130,140,149,1) 64%,rgba(181,189,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.border1 {
border-radius: 25px;
    border: 10px solid #AFAFAF;
    padding: 20px;
}

.border2 { border-radius: 25px; padding: 10px; }

#head_image {
height:235px; 
margin: 0;
padding: 0;
width: 100%;
background: url(images/bg2.jpg) no-repeat left top;
background-size: 100%;
border-radius: 25px;
}


a { color:#fe5800;}
a:hover { text-decoration:none;}
.blue { color:#243f8d;}

/*
#header { background: url(images/header_bckg.gif) repeat-x ; height:70px; }
*/
#logo { width:780px; margin:0 auto; padding:40px 0 0 0; }
#logo a{ color:#FFFFFF; text-decoration:none; font-weight:bold; height:12px; font-size:20px; text-transform:uppercase;}
#logo a:hover { }

.highlight_text { color:#FFFFFF; text-decoration:none; font-weight:bold; height:12px; font-size:20px; text-transform:uppercase;}


#content table {width: 100%;}

#content span.fett {font-weight: bold;}
#content h1 { margin:20px 0 0 0; text-transform:uppercase; font-size:20px; color:#000; font-weight:normal;}
#text { width: 100%;}
#content span.help {font-size: 12px;}
/* #sidebar { background:url(images/sidebar_bckg.gif) repeat-x; margin:20px 0 0 0px; color:#6f6e6e; padding:20px; } */
#sidebar {  }
#sidebar h2 {color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}


#footer {height:55px; clear:both;}

#left_footer { float:left; padding:30px 0 0 30px; text-transform:uppercase; color:#2F2F2F; font-weight:bold; font-size:11px;}
#left_footer a { color:#FFFFFF;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:30px 30px 0 0; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:11px; text-align:right;}
#right_footer a { color:#FFFFFF;}
#right_footer a:hover { text-decoration:none;}
