body { margin:0; padding:0; font-size:11px; line-height:16px; font-family: Arial, Tahoma;}
a { color:#fe5800;}
a:hover { text-decoration:none;}
.blue { color:#243f8d;}


#header { background: url(images/header_bckg.gif) repeat-x ; height:70px; }
#logo { width:780px; margin:0 auto; padding:40px 0 0 0; }
#logo a{ color:#FFFFFF; text-decoration:none; font-weight:bold; height:12px; font-size:20px; text-transform:uppercase;}
#logo a:hover { }


#main { margin:20px 0 20px 0; float:left; width: 100%; }
#head_image { height:260px; width:665px; background:url(images/bg.jpg) no-repeat #243f8d; padding:10px 0 30px 50px; line-height:24px;}
#head_image2 { height:35px; width:150px; background:url(images/logo.jpg) no-repeat #243f8d; padding:10px 0 30px 50px; line-height:24px;}

#content table {width: 100%;}

#content span.fett {font-weight: bold;}
#content { margin:0 auto; padding:0;  padding-left:5%; width: 95%;}
#content h1 { margin:20px 0 0 0; text-transform:uppercase; font-size:20px; color:#000; font-weight:normal;}
#text {float:left;  width: 100%;}
#content span.help {font-size: 12px;}
#sidebar { background:url(images/sidebar_bckg.gif) repeat-x; margin:20px 0 0 0px; color:#6f6e6e; padding:20px; }
#sidebar h2 {color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#container {width: 800px}

#footer {background:url(images/footer_bckg.gif) repeat-x #3f3e3e 0 2px; height:55px; margin-top:10px; clear:both;}
#left_footer { float:left; padding:30px 0 0 30px; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:11px;}
#left_footer a { color:#FFFFFF;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:30px 30px 0 0; text-transform:uppercase; color:#FFFFFF; font-weight:bold; font-size:11px; text-align:right;}
#right_footer a { color:#FFFFFF;}
#right_footer a:hover { text-decoration:none;}
